:root {
  --Brightblue: hsl(220, 98%, 61%);
  --checkBackground: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));

  /* Light Theme */
  --veryLightGray: hsl(0, 0%, 98%);
  --veryLightGrayishBlue: hsl(236, 33%, 92%);
  --lightGrayishBlue: hsl(233, 11%, 84%);
  --darkGrayishBlue: hsl(236, 9%, 61%);
  --veryDarkGrayishBlue: hsl(235, 19%, 35%);

  /* Dark Theme */

  --veryDarkBlue: hsl(235, 21%, 11%);
  --veryDarkDesaturatedBlue: hsl(235, 24%, 19%);
  --lightGrayishBlue: hsl(234, 39%, 85%);
  --lightGrayishBlueHover: hsl(236, 33%, 92%);
  --darkGrayishBlue: hsl(234, 11%, 52%);
  --veryDarkGrayishBlue: hsl(233, 14%, 35%);
  --veryDarkGrayishBlueHpver: hsl(237, 14%, 26%);
}

#root {
  margin: 0 auto;
  text-align: center;
}

.wrap-container {
  display: flex;
  flex-direction: column;
  min-width: 45rem;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: 100% 23rem;
  align-items: center;
  font-size: 1.8rem;
}
.wrap-container.light {
  background-color: var(--veryLightGray);
  background-image: url("./assets/bg-desktop-light.jpg");
}
.wrap-container.dark {
  background-color: var(--veryDarkBlue);
  background-image: url("./assets/bg-desktop-dark.jpg");
}

.container {
  width: 45rem;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 0;
  margin-top: 4rem;
  margin-bottom: 1.5rem;
  color: var(--veryLightGray);
  text-transform: uppercase;
}

.switchBtn {
  background-color: transparent;
  border: none;
}
.switchBtn:hover {
  cursor: pointer;
}
.switchBtn > img {
  width: 2rem;
}

.todoInput {
  position: relative;
  font-family: "Josefin Sans", sans-serif;
  padding: 1.5rem 1.5rem 1.5rem 6rem;
  border-radius: 8px;
  border: none;
  outline-style: none;
  width: -webkit-fill-available;
  font-size: 1.8rem;
  background-repeat: no-repeat;
  background-position: 2.2rem 50%;
}
input[type="text"].light,
textarea.light {
  background-color: var(--veryLightGray);
  color: var(--darkGrayishBlue);
  border: none;
}
input[type="text"].dark,
textarea.dark {
  background-color: var(--veryDarkDesaturatedBlue);
  color: var(--lightGrayishBlue);
  border: none;
}

textarea {
  resize: none;
  height: auto;
  padding: 0;
  /* Hide scrollbar (cross-browser) */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE & Edge */
  overflow: -moz-scrollbars-none; /* Old Firefox */
  overflow: hidden;
}

.edit-input {
  display: block;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.8rem;
  width: 35rem;
  box-sizing: border-box;
  line-height: 1.25;
  border: none;
  text-align: left;
  overflow-wrap: break-word;
  overflow: hidden;
}
.edit-input:focus {
  outline: none;
}

.todoInput.light {
  background-image: url("./assets/circle-light.svg");
}

.todoInput.dark {
  background-image: url("./assets/circle-dark.svg");
}

.todoList {
  list-style: none;
  display: flex;
  flex-direction: column;
  border-radius: 8px 8px 0 0;
  padding: 0;
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 0;
}

.todoListWrap {
  box-shadow: 0px 0px 32px -16px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 32px -16px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 32px -16px rgba(0, 0, 0, 0.75);
  border-radius: 8px;
}

.todoList.light {
  background-color: var(--veryLightGray);
}
.todoList.dark {
  background-color: var(--veryDarkDesaturatedBlue);
}
.todo {
  padding: 1rem 2rem;
  width: -webkit-fill-available;
  display: flex;
  justify-content: space-between;
}
.todo .line {
  width: -webkit-fill-available;
}
.todo-wrapper {
  width: -webkit-fill-available;
}
.todo > div {
  display: flex;
  align-items: center;
}
.completed {
  text-decoration: line-through;
  color: var(--darkGrayishBlue);
  opacity: 50%;
}
.todo.light {
  color: var(--veryDarkBlue);
}

.todo.dark {
  color: var(--veryLightGray);
}

.line.light {
  width: -webkit-fill-available;
  border-bottom: 1px solid var(--veryLightGrayishBlue);
}
.line.dark {
  width: -webkit-fill-available;
  border-bottom: 1px solid var(--veryDarkGrayishBlue);
}

.deleteBtn {
  display: none;
  background-color: transparent;
  border: none;
}

.todo:hover .deleteBtn,
.todo:focus-within .deleteBtn {
  display: inline-block;
  cursor: pointer;
}

.cross {
  width: 10px;
  height: 10px;
}

input[type="checkbox"] {
  appearance: none;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  margin-right: 2rem;
  border-radius: 50%;
  background-color: transparent;
  transition: outline 0.1s;
}
input[type="checkbox"].light {
  outline: 1px solid var(--lightGrayishBlue);
}
input[type="checkbox"].dark {
  outline: 1px solid var(--darkGrayishBlue);
}

.todo:hover {
  cursor: pointer;
}
input[type="checkbox"]:hover {
  outline: 1px solid var(--Brightblue);
  cursor: pointer;
}

.content > label {
  display: block;
  width: 35rem;
  box-sizing: border-box;
  text-align: left;
  overflow-wrap: break-word;
  line-height: 1.25;
}
.content:hover {
  cursor: text;
}

input[type="checkbox"]:checked {
  background-image: url("./assets/icon-check.svg"), var(--checkBackground);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.filter {
  font-size: 1.2rem;
  padding: 1.5rem 2rem;
}

.filterButton {
  font-family: "Josefin Sans", sans-serif;
  border: none;
  background-color: transparent;
  font-size: 1.4rem;
  font-weight: 700;
  cursor: pointer;
}

.filterButton.light,
span.light {
  color: var(--darkGrayishBlue);
}

.filterButton.light:hover {
  color: var(--darkGrayishBlueHover);
}
.filterButton.dark,
span.dark {
  color: var(--lightGrayishBlue);
}

.filterButton.dark:hover {
  color: var(--lightGrayishBlueHover);
}
.active {
  color: var(--Brightblue) !important;
}
.filterButton.light.clear,
.filterButton.dark.clear {
  font-size: 1.2rem;
  font-weight: 400;
}
.hint-message {
  margin-top: 4rem;
  font-size: 1.2rem;
  color: var(--darkGrayishBlue);
}

.dragPreview {
  background-color: var(--veryLightGray);
  border-radius: 5px;
  padding: 1rem;
  font-size: 1.6rem;
}
.drag-handle {
  display: flex;
}

.desktop-filter {
  display: block;
}
.mobile-filter {
  display: none;
}

@media screen and (max-width: 600px) {
  .header {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
  }
  .wrap-container {
    min-width: 31.25rem;
    background-size: 100% 20rem;
  }

  .container {
    width: 31.25rem;
  }

  .filterButton {
    font-size: 1.2rem;
    font-weight: 700;
  }
  .deleteBtn {
    display: block;
  }
  .desktop-filter {
    display: none !important;
  }
  .mobile-filter {
    display: block !important;
    justify-content: center;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0px 0px 32px -16px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 32px -16px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 32px -16px rgba(0, 0, 0, 0.75);
  }
  .mobile-filter.light {
    background-color: var(--veryLightGray);
  }
  .mobile-filter.dark {
    background-color: var(--veryDarkDesaturatedBlue);
  }
}
